@using WebForEver.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title</h2>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    
                    
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
             
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" , @placeholder= "email" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
             
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    
                </div>
                <div class="form-group">
                 
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
              
                </div>
                <div class="form-group">
                   
                        <input type="submit" value="Log in" class="btn btn-primary block full-width m-b" />
         
                </div>
            
            }
    
 
